Flask==3.1.1
ipykernel==6.29.5
ipython==9.2.0
Jinja2==3.1.6
joblib==1.5.1
keras==3.10.0
keras-tuner==1.4.7
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
tensorflow==2.16.2

